*{
    margin: 0;
    padding: 0;
    color: white;
}

#navbar{
    background-color: rgb(122, 120, 120);
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    border: 1px solid transparent;
}
#navbar a{
    padding: 50px;
    text-decoration: none;
}

#section{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}
#section h2{
    padding-top: 5px;
    margin: 0px 0px 5px 130px;  
}
#panel{
    display: flex;
    justify-content: space-evenly;
}

#panel p{
    color: rgb(43, 136, 230);
}
#panel a{
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
#panel a:hover{
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    color: rgb(122, 120, 120);
    
}
#panel2 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    text-align: center;
    padding-top: 70px;
}
#panel2 h5{
    text-align: center;
    padding-bottom: 10px;
}
#panel2 p{
    text-align: center;
}
.panel3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.panel3 button{
    background-color: rgb(43, 136, 230);
    text-align: center; 
    border-radius: 25px;
    padding: 15px;
}
.panel3 button:hover{
    cursor: pointer;
    color:  rgb(43, 136, 230);
    background-color: white;
}
#section2{
    background-image: url("dumbells.avif");
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.div1{
    background-color: rgba(0,0,0,51%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    height: 220px;
    text-align: center;
    margin: 15px;
    border-radius: 15px;
}
#section2 h4{
    color: rgb(43, 136, 230);
    font-size: 20px;
}

#section3{
    background-image: url("section3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}
#section3 h1{
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
}
#section3 form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px;
}

.form1{
    border-radius: 9px;
    margin: 2px;
    padding-left: 15px;
    width: 200px;
    height: 20px;
    color: black;
}
#form3{
    border-radius: 9px;
    width: 150px;
    height: 20px;
    color: black;
}
#section4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    flex-direction: column;
}
#section4::before{
    content: "";
    position: absolute;
    background-image: url("section4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
    height: 100%;
    width: 100%;
}
#section4 h3{
    color: black;
}
#feedback{
    color: black;
}

#footer1{
    background-color: rgb(0, 77, 128);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
}
#footer1 div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 220px;
     margin: 10px;  
}
#footer1 h4{
    color: orange;
    padding-top: 5px;
    padding-bottom: 5px;
}
#footer2{
    background-color: rgb(0, 77, 128);
    height: 40px;
    padding-left: 120px;
    padding-top: 15px;
}